.header {
    
    background: #b78a00;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 99;
}


.header  a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    color: #fff;
}
.header a:hover{
    color: #000;
}
.themeMode {
    position: absolute;
    right: 0;
}

.form-check-label {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.dark .header  a {
 
    color: #000;
}
.dark .header  a:hover {
 
    color: #fff;
}
.dark .form-check-label {
 
    color: #000;
}
.dark .form-check-input:checked {
    background-color: #52441d;
    border-color: #52441d;
}
@media(max-width:767px){

    .header{
        height: 55px;
      
    }
    .header ul li a {
        font-size: 11px;
    }
    
    .header ul {
        gap: 10px;
    }
    .themeMode {
    
        top: 12.5px;
    }
    .header .d-flex.align-items-center.justify-content-center.position-relative {
        justify-content: start !important;
    }
    .navbar-collapse {
        background: #303330;
        width: 100%;
        margin: 7px -12px;
    }
    
    .navbar {
        width: 100%;
        padding-bottom: 0;
    }
    
    .navbar-collapse .navbar-nav a {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    
}