.header {
    
    background: #b78a00;
    margin-bottom: 20px;
}

.header ul {
    height: 80px;
    justify-content: center;
    gap: 20px;
}

.header ul li a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    color: #fff;
}
.header ul li a:hover{
    color: #000;
}
.themeMode {
    position: absolute;
    right: 0;
}

.form-check-label {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.dark .header ul li a {
 
    color: #000;
}
.dark .header ul li a:hover {
 
    color: #fff;
}
.dark .form-check-label {
 
    color: #000;
}
.dark .form-check-input:checked {
    background-color: #52441d;
    border-color: #52441d;
}
@media(max-width:767px){
    .header ul li a {
        font-size: 11px;
    }
    
    .header ul {
        gap: 10px;
    }
    
    .header .d-flex.align-items-center.justify-content-center.position-relative {
        justify-content: start !important;
    }
}